* {
    box-sizing: border-box;
}
html,
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #e9e0e0;
}

.container {
    width: 270px;
    height: 300px;
    text-align: center;
    background-color: rgb(139, 241, 236);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 40px;
    color: black;
    margin-bottom: 20px;
}

#counterResult {
    font-size: 60px;
    margin-bottom: 20px;
    color: #eb1c1c;
}

button {
    font-size: 20px;
    padding: 10px 20px;
    margin: 15px;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #1d72ab;
}

button:active {
    background-color: #1f5a86;
}
